<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body
        .container
            .grid-child__3--l.grid-child__3--m.grid-child__2--s.align_center
                div
                    .red.grid-child__3--l.grid-child__2--m.grid-child__1--s
                        div(style="height:150px;") 1
                        div.middle 2
                        div.top 3
                div.top
                    .blue.top 2
                div.middle 
                    .grey 3