<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body
        .container
            .grid-child__5--l.grid-child__3--m.grid-child__1--s
                div 1
                div 2
                div 3
                div 4
                div 5