* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$nums: 1, 2, 3, 4, 5, 6;
$sizes: --l, --m, --s;
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
div[class^="grid-child"]{
    &.align_center{
        text-align: center;
        float: none;
    }
}
@each $size in $sizes {
    @each $num in $nums {
        .grid-child__#{$num}#{$size} {
            > div{
                vertical-align: middle;
                display: inline-block;
            }
            div.middle{
                vertical-align: middle;
            }
            div.top{
                vertical-align: top;
            }
            div.bottom{
                vertical-align: bottom;
            }
        }
    }
}
//large
@media screen and (min-width: 980px) {
    @each $num in $nums {
        .grid-child__#{$num}--l {
            width: 100%;
            clear: both;
            overflow: hidden;
            > div{
                $width: calc(100% / #{$num} - #{$num}px);
                width: $width;
            } 
        }
    }
}
//medium
@media screen and (max-width: 980px) {
    @each $num in $nums {
        .grid-child__#{$num}--m {
            width: 100%;
            clear: both;
            overflow: hidden;
            > div{
                $width: calc(100% / #{$num} - #{$num}px);
                width: $width;
            } 
        }
    }
}
//small
@media screen and (max-width: 640px) {
    @each $num in $nums {
        .grid-child__#{$num}--s {
            width: 100%;
            clear: both;
            overflow: hidden;
            > div{
                $width: calc(100% / #{$num} - #{$num}px);
                width: $width;
            } 
        }
    }
}

.red{
    background: red;
}
.blue{
    background: blue;
}
.grey{
    background: grey;
}